html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  @apply font-primary;
  background-color: #ffffff;
  background-color: transparent;
  background-image: url("/images/asfalt-dark.webp");
}