body {
  @apply font-primary;
  background-color: #ffffff;
  background-color: transparent;
  background-image: url("/images/asfalt-dark.png");

  [data-theme='business'] & {
    // @apply bg-slate-950 bg-[url(/images/bg.svg)] bg-cover bg-repeat;
    // background-color: #000;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.4);

  [data-theme='business'] & {
    background-color: oklch(var(--b1)/0.4);
  }
}


h1 {
  @apply font-primary font-bold text-4xl lg:text-5xl
}

h2 {
  @apply font-primary font-bold text-3xl lg:text-4xl
}

h3 {
  @apply font-primary font-bold text-2xl lg:text-3xl
}

h4 {
  @apply font-primary font-bold text-xl lg:text-2xl
}

h5 {
  @apply font-primary font-bold text-lg lg:text-xl
}

p {
  @apply font-primary text-base lg:text-lg
}

pre {
  @apply rounded p-4
}
