svg[id="site_logo"] {
  @apply w-full max-w-14 lg:max-w-20;

  #inner-c {
    fill: oklch(var(--sc));

    [data-theme='business'] & {
      fill: var(--b1);
    }
  }

  #outer-c {
    fill: oklch(var(--n));

    [data-theme='business'] & {
      fill: oklch(var(--bc));
    }
  }

  #inner-a {
    fill: oklch(var(--s));
  }

  #outer-a {
    fill: oklch(var(--n));

    [data-theme='business'] & {
      fill: oklch(var(--bc));
    }
  }
}

// section style
.section {
  @apply py-16;
}

// If .section are surrounded by a .multi-section class, make even sections have a flex direction of row-reverse
.multi-section {

  & > .section:nth-child(even):not(.custom-position) .row {
    @apply md:flex-row-reverse;
  }
}

.btn-primary {
  @apply text-base-100;
}

// container
.container {
  @apply mx-auto max-w-[1248px] px-4;
  background-color: rgba(255, 255, 255, 0.4);

  [data-theme='business'] & {
    background-color: oklch(var(--b1)/0.4);
  }
}

.collapse-title {
  &:after {
    top: 50%;
    transform: translateY(-50%);
  }
}

.breadcrumbs {
  // base styles inherited from DaisyUI
  ul {
    margin-left: 0;

    li {
      &:first-child {
        @apply hidden sm:flex !important;
      }

      &:nth-of-type(2) {
        &:before {
          @apply hidden sm:block !important;
        }
      }
    }
  }
}

// social icon style
.social-icons {
  li {
    @apply mr-2 inline-block;
    a {
      @apply inline-flex h-11 w-11 items-center justify-center rounded-full bg-black dark:bg-white text-center transition-all duration-200 hover:bg-secondary;

      svg {
        @apply m-auto h-11 fill-gray-100 dark:fill-gray-600 text-xl;
      }

      path {
        @apply transition-all duration-200;
      }

      &:hover path {
        @apply fill-white;
      }
    }
  }
}

//review-carousel
.review {
  @apply mx-[0.9rem] my-10 rounded-xl bg-base-200 px-3 py-6 pb-16 text-center shadow;

  &-author-avatar {
    @apply mx-auto -mt-12 h-[90px] w-[90px] -translate-y-5 rounded-full p-0.5;
  }
}
.review-rating {
  &.five {
    svg {
      @apply fill-secondary text-secondary;
    }
  }

  &.four {
    svg {
      &:not(:last-child) {
        @apply fill-secondary text-secondary;
      }
      &:nth-child(5) {
        @apply fill-gray-300 text-gray-300;
      }
    }
  }

  &.three {
    svg {
      @apply fill-secondary text-secondary;

      &:last-child {
        @apply fill-gray-300 text-gray-300;
      }

      &:nth-child(4) {
        @apply fill-gray-300 text-gray-300;
      }
    }
  }

  &.two {
    svg {
      &:first-child {
        @apply fill-secondary text-secondary;
      }

      &:nth-child(2) {
        @apply fill-secondary text-secondary;
      }
    }
  }

  &.one {
    svg {
      &:first-child {
        @apply fill-secondary text-secondary;
      }
    }
  }
}

//footer
.footer {
  h6 {
    @apply mb-4 font-primary font-semibold lg:mb-8;
  }

  p {
    @apply text-sm;
  }

  li > a {
    @apply text-sm hover:text-secondary hover:underline;
  }
}

//changelogs
.changelogs {
  &-content {
    // First child of the changelogs-content below a badge should have a margin-top of 6
    > .badge + * {
      @apply mt-8;
    }
    @apply relative shadow-lg rounded-xl bg-base-200  ;
    &::before {
      @apply absolute -top-[38px] left-0 h-[18px] w-[18px] rounded-full border-4 border-secondary/70 content-[''] lg:-left-[49px] lg:top-0;
    }


    ul {
      @apply list-disc pl-6;

      + .changelogs-tag {
        @apply mt-6;
      }

      & > li {
        @apply mb-3;

        span {
          @apply text-primary;
        }
      }
    }
  }

  &-tag {
    @apply mb-5 inline-block h-5 rounded px-1 py-0.5 text-xs text-red-500;
  }
}

.timeline {
  & > li {
    margin-bottom: 0;
  }
}