---
import Base from "@/layouts/Base.astro";
import AiChatPanel from "@/components/AiChat";
---

<Base entry_keys={['projects', 'index']}>
  <section class="mt-4 lg:mt-6 pb-6">
    <div class="container">
      <div class="row">
        <h2 class="section-title">AI Chat</h2>
        <AiChatPanel client:only="react"/>
      </div>
    </div>
    
  </section>
</Base>
