---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry('pages', 'changelog');
const page_data = {
  ...about.data,
  content: about.body,
};
const { Content } = about && await render(about);
---

<Base entry_keys={['pages', 'changelog']}>
  <section class="py-16">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Content />
    </div>
  </section>
</Base>
