---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import ProjectsGrid from "@/components/ProjectsGrid.astro";
import { getEntry } from "astro:content";

const projects = await getEntry("projects", "index");
const { projects_grid } = projects.data;
const { Content } = await projects.render();
---

<Base>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={projects.data} />
    </div>
    <!-- projects -->
    <ProjectsGrid projects={projects_grid} />
    <div class="container">
      <Content />
    </div>
  </section>
</Base>
