---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import ProjectsGrid from "@/components/ProjectsGrid.astro";
import { getEntry } from "astro:content";

const projects = await getEntry('projects', 'index');
const { project_collection } = projects && projects.data;
---

<Base entry_keys={['projects', 'index']}>
  <section class="py-6 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <div class="container">
      <PageHeader page_data={projects.data} />
    </div>
    <!-- projects -->
    <ProjectsGrid project_collection={project_collection} />
  </section>
</Base>
