---
const { action_urls } = Astro.props;
const { linkedin_url, github_url, email, resume_url } = action_urls;
---

{linkedin_url && (
  <div class="col sm:col-auto pr-0 mb-3">
    <a
      class="btn btn-neutral w-full"
      aria-label="linkedin"
      href={linkedin_url}
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="feather-icon" width="20" height="20">
        <use href="../feather-sprite.svg#linkedin" />
      </svg>
    </a>
  </div>
)}
{github_url && (
  <div class="col sm:col-auto pl-3 pr-0 mb-3">
    <a
      class="btn btn-neutral w-full"
      aria-label="github"
      href={github_url}
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="feather-icon" width="20" height="20">
        <use href="../feather-sprite.svg#github" />
      </svg>
    </a>
  </div>
)}
{email && (
  <div class="col sm:col-auto pl-3 sm:pr-0 mb-3">
    <a 
      class="btn btn-neutral w-full"
      aria-label="email"
      href={`mailto:${email}`}
    >
      <svg class="feather-icon" width="20" height="20">
        <use href="../feather-sprite.svg#send" />
      </svg>
    </a>
  </div>
)}
{resume_url && (
  <div class="col basis-full sm:basis-0 sm:pl-3 mb-3 sm:mb-8">
    <a href={resume_url} target="_blank" class="btn btn-secondary w-full">Download Resume
      <svg class="feather-icon" width="20" height="20">
        <use href="../feather-sprite.svg#download" />
      </svg>
    </a>
  </div>
)}