---
import FeatherIcon from "@/components/react/FeatherIcon";

const { counter, className } = Astro.props;
---

<div class={'counter ' + className}>
  <div
    class="flex flex-col sm:flex-row flex-wrap justify-center mx-0 rounded-[20px] bg-neutral text-neutral-content shadow-lg px-6 sm:px-10 sm:py-4"
  >
    {
      counter.map((item: any) => (
        <div class="col py-3 px-5 sm:p-5 text-center border-b sm:border-b-0 sm:border-r lg:py-0 last:border-none">
          <h3 class="flex items-center justify-center gap-1">
            {/* <span class="count" aria-valuenow="0" aria-valuemin="0" aria-valuemax={item.number}> */}
            <span class="count" data-valuemax={item.number}>
              0
            </span>
            <span
              class={"text-secondary inline-flex items-center justify-center ml-2"}
            >
              <FeatherIcon name={item.icon ?? 'plus'} color={item.color} size={20} client:load />
            </span>
          </h3>
          <p>{item.name}</p>
        </div>
      ))
    }
  </div>
</div>

<script is:inline>
  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    const counters = document.querySelectorAll(".count");
    const speed = 900;
    counters.forEach((counter) => {
      const animate = () => {
        const data = +counter.innerText;
        const value = +counter.getAttribute("data-valuemax");

        const time = value / speed;
        if (data < value) {
          // counter.setAttribute("aria-valuenow", Math.ceil(data + time));
          counter.innerText = Math.ceil(data + time);
          setTimeout(animate, 1);
        } else {
          counter.innerText = value;
        }
      };

      animate();
    });
  });
</script>
