---
import ProjectTile from "./react/ProjectTile";
import { getCollection } from "astro:content";

const { project_collection } = Astro.props;
const { work_projects, freelance_projects, other_projects } = project_collection;

const projectsContent = await getCollection("projectsContent");
---

<div class="container">
  <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <section class="py-6 flex flex-col sm:flex-row justify-center items-center">
      <a href="#work-projects" class="link link-primary font-bold text-xl py-2 sm:py-0 px-5">Employer Projects</a>
      <a href="#freelance-projects" class="link link-secondary font-bold text-xl py-2 sm:py-0 px-5">Freelance Projects</a>
      <a href="#other-projects" class="link link-accent font-bold text-xl py-2 sm:py-0 px-5">Other Projects</a>
    </section>
  </div>
  <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <section class="py-6" id="work-projects">
      <h2 class="section-title">Employer Projects</h2>
      <div class="tile-grid grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 md:px-5">
        {work_projects.map((item) => {
          const content = projectsContent.find((content) => content.id === item.content_id);
          return (
            <ProjectTile content={content} client:load />
          );
        })}
      </div>
    </section>
  </div>
  <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <section class="py-6" id="freelance-projects">
      <h2 class="section-title">Freelance Projects</h2>
      <div class="tile-grid grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 md:px-5">
        {freelance_projects.map((item) => {
          const content = projectsContent.find((content) => content.id === item.content_id);
          return (
            <ProjectTile content={content} client:load />
          );
        })}
      </div>
    </section>
  </div>
  <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <section class="py-6" id="other-projects">
      <h2 class="section-title">Other Projects</h2>
      <div class="tile-grid grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 md:px-5">
        {other_projects.map((item) => {
          const content = projectsContent.find((content) => content.id === item.content_id);
          return (
            <ProjectTile content={content} client:load />
          );
        })}
      </div>
    </section>
  </div>
  <div class="row intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
    <section class="py-6" id="other-projects">
      <h2 class="section-title">Honorable Mentions</h2>
      <div class="prose max-w-full">
        <p class="font-bold">Note-worthy clients I completed work for during my time with one agency or another:</p>
        <ul>
          <li>Berner Air Curtains</li>
          <li>Brooks Brothers</li>
          <li>DEMDACo Brands</li>
            <ul>
              <li>Big Sky Carvers</li>
              <li>Willow Tree</li>
            </ul>
          <li>Essity (TENA)</li>
          <li>Galderma</li>
          <li>Hershey</li>
          <li>Hancock Fabrics</li>
          <li>Kreg Tool</li>
          <li>Legendary Whitetails</li>
          <li>Scheels</li>
          <li>Sylvania</li>
          <li>U.S. Patriot Tactical</li>
        </ul>
      </div>
    </section>
  </div>
</div>

