---
import { markdownify } from "@/lib/utils/textConverter";
import ProjectTile from "./react/ProjectTile";
import { getCollection } from "astro:content";

const { project_collection } = Astro.props;
const { title, description, projects } = project_collection;

const projectsContent = await getCollection("projectsContent");
---

<section class="section key-feature relative">
  <div class="container">
    <div class="row justify-between text-center lg:text-start ">
      <div class="lg:col-7">
        <h1 set:html={markdownify(title)} />
      </div>
      <div class="mt-6 lg:col-5 lg:mt-0">
        <p set:html={markdownify(description)} />
      </div>
    </div>
    <ProjectTile projects={projects} projectsContent={projectsContent} client:load />
  </div>
</section>
