.workHistory {
}

.employmentItem {
  display: grid;
  gap: 8px;
}

.employer {
  display: flex;
  flex-direction: column;

  @media (--viewport-md-up) {
    flex-direction: row;
  }
}

.employerName {
  color: var(--color-primary);
}

.location {
  display: flex;
  align-items: center;
  margin-top: 4px;

  @media (--viewport-md-up) {
    margin-top: 0;
  }
}

.locationDivider {
  padding-left: 8px;
  padding-right: 8px;
  display: none;

  @media (--viewport-md-up) {
    display: inline;
  }
}

.locationIcon {
  display: flex;
  align-items: center;
  padding-right: 4px;
}

.remoteText {
  padding-left: 4px;
}

.employmentPosition {
  display: grid;
  gap: 8px;

  @media (--viewport-md-up) {
    padding: 0 8px;
  }
}

.positionsContainer {
  display: grid;
  gap: 8px;
}

.positionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (--viewport-md-up) {
    flex-direction: row;
    align-items: center;
  }
}

.positionTitle {
  font-size: 18px;
  font-style: italic;
}

.badgeNeutral {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 12px;
  background-color: var(--color-grey-700);
  color: var(--color-white);
  border-radius: 9999px;
  margin-top: 8px;

  @media (--viewport-md-up) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.badgeIcon {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.notesList {
  padding-left: 24px;
}
